
.contact-us {
  padding-top: 240px;
  padding-bottom: 180px;
  background: url("../components/shared/photo-background/subheader-bg.png") no-repeat;
  background-position: center top;
  background-size: cover;
  margin-top: -126px;
  z-index: 1;

  .contact-us__place-in-us {
    max-width: 800px;
    text-align: center;
    margin: auto;

    h1 {
      font-size: 72px;
      color: $footer-h6;
      margin-bottom: 15px;
      font-family: 'Heebo';
      font-weight: 700;
    }

    .page-text ul {
      display: flex;
      justify-content: center;

      li {
        font-family: 'Rubik';
        padding-left: 8px;
        font-style: normal;
        color: $text-color-section;
        font-size: 16px;
      }

      li a {
        color: $footer-logo-color;
        font-weight: 600;
        font-size: 16px;
        padding: 0;
        transition: 0.3s;

        &:hover {
          color: $footer-h6;
        }
      }
    }
  }
}
