@import "variables";

.top-bar-wrapper {
  background: $b-collor;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: $color-fff;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__mail {

    margin-right: 24px;

    i {
      margin-right: 10px;

    }

  }

  &__address {

    i {
      margin-right: 10px;

    }

  }

  &__social-links {
    i {
      margin-right: 24px;

    }

    i:last-child {
      margin-right: 0;
    }

  }

}

.nav-bar-wrapper {
  background-color: rgba(0, 89, 99, 0.7);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-fff;

  &__logo {
    width: 190px;

    img {
      width: 100%;

    }

  }

  &__menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;

    li {
      padding: 30px 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;

    }

  }

  &__btn {
    width: 162px;

    &__button {
      background-color: #00acb1;
      color: $color-fff;

      &:hover{
        transition: 0.5s;
        background: $b-collor;
        color: $color-fff;

      }

    }

  }

}