
$white: #fff;
$background: #005963;
$black-text-btn: #1a1a1a;
$footer-color-text: #686a6f;
$footer-logo-color: #00acb1;
$footer-h6: #005963;

$border-line: rgba(26, 26, 26, 0.16);

.d-flex {
  display: flex;
  justify-content: space-between;
}

.btn {

  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 17px 30px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 3px 24px #0000001a;
}