
$white: #fff;
$background: #005963;
$black-text-btn: #1a1a1a;
$footer-color-text: rgb(104, 106, 111);
$footer-logo-color: #00acb1;
$footer-h6: #005963;
$text-color-section: #686a6f;
$border-line: rgba(26, 26, 26, 0.16);


