a {
  font-size: 24px;
  color: rgba(56, 76, 96, 0.88);
}
.logo {
  max-width: 100px;
  margin-left: 30px;
  margin-right: 5px;
}
.navLink {
  text-decoration: none;
  text-align: center;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}
.navbarNav {
  text-align: center;
}
.navItem{
  color: rgba(1, 23, 23, 0.54);
}
.bb{
 width: 100%;
  height: auto;
  background: rgba(70, 75, 75, 0.4);

}
.menu{
  padding-top: -40px;
  font-size: 24px;
}
