
@import "variables";
@import "header";
@import "pictures-line";
@import "footer";
@import "container-line";
@import "footer-floor";
@import "container-section";
@import "contact";


@font-face {
  font-family: 'the_nautigalbold';
  src: url('../../public/assets/fonts/TheNautigal-Bold.ttf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;

}



